*{
    padding: 0px;
}
html{
    background: linear-gradient(#333,#666,#333);  

}
img{
    filter: drop-shadow(5px 5px 5px #000);
}
form{  
    font-style: italic;
    font-family: serif;
    color: white;
    width:250px;  
    border: 1px solid #333;
    margin:auto;  
    background: rgba(0,0,0,0.5);  
    padding: 30px;  
    border-radius: 6px;
}  
#btn{  
    width:40%;
    font-size: 15px;
    color: white;  
    background: red;
    margin-left:60%; 
    padding: 7px 15px 7px 15px; 
    border: none;
    border-radius: 3px; 
}  
.input{
    width: 95%;
    border-radius: 4px;
    border: 1px solid #aaa;
    background: linear-gradient(white,#aaa);  
    margin-top: 4px;
    height: 20px;
}
#btn:hover{
    background: linear-gradient(red,black,red); 
}
.title{
    font-size: 20px;
    text-shadow: 5px 6px 8px #000; 
    font-weight: bold;
    color: red;
    margin: 80px;
    margin-bottom: 20px;
    font-style: italic;
}
.error{
    color: red;
    font-size: 15px;
}